# --- Django ---
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# --- Ambiente Virtual (Sua pasta venv) ---
venv/
env/
.env

# --- VS Code (Configurações do editor) ---
.vscode/

# --- Sistema Operacional (Arquivos de lixo) ---
.DS_Store
Thumbs.db