{% extends 'escolinha/base.html' %}
{% load static %}

{% block content %}

<div class="box box-professores">
    <h1>Nossa Equipe de Craques</h1>
    <p>Conheça os profissionais que cuidarão do desenvolvimento do seu filho.</p>

    <div class="professores-grid">
        
        {% for professor in professores %}
        <div class="card-prof">
            
            {% if professor.foto %}
                <img src="{{ professor.foto.url }}" alt="Foto de {{ professor.nome }}">
            {% else %}
                <div class="img-placeholder">
                    Sem Foto
                </div>
            {% endif %}
            
            <div class="info">
                <h3>{{ professor.nome }}</h3>
                <p><strong>Especialidade:</strong> {{ professor.especialidade }}</p>
                
                {% if professor.descricao %}
                    <p class="desc">{{ professor.descricao }}</p>
                {% endif %}
            </div>
        </div>
        
        {% empty %}
            <p>Nenhum professor cadastrado ainda.</p>
        {% endfor %}

    </div>
</div>

{% endblock %}